
body{
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg.jpg);
    background-position: center;
    background-size:cover;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color : #030303;
}
.goback{
    text-decoration:none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* form * {
    width: 50%;
} */

h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}


  button {
    background: #296dff;
    color: #fff;
    font-size: 20px;
    padding: 20px 100px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
textarea{
    width: 50%;
    height: 300px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    background: #c8cdd8;
    font-family: Arial;
    
}
    